
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@700&family=PT+Serif:ital,wght@1,700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/* Reset des marges et paddings */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Style pour le header */
header {
    background-color: #000;
    padding: 20px;
    text-align: center;
    position: relative;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'PT Serif', serif;
    font-family: 'Dancing Script', 'cursive';
}

header h1 {
    margin-bottom: 10px;
    color: #fff;
}

/* Style pour la section recette */
.recette {
    border: none;
    border-radius: 10px;
    background-color: #ffffff;
    padding: 20px;
    margin: 20px 10px;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 300px;
    height: 400px;
    position: relative;
}

.recette h2 {
    color: #333333;
    font-size: 24px;
    margin-bottom: 10px;
}

.recette p {
    color: #666666;
    font-size: 16px;
    margin-bottom: 10px;
}

.recette button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.recette button:hover {
    background-color: #45a049;
}

.content {
    position: absolute;
    bottom: 20px;
    padding: 0 20px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.9); /* Fonds semi-transparent */
}



/* Style pour le footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

