
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@700&family=PT+Serif:ital,wght@1,700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/* Reset des marges et paddings */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Style pour le header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    padding: 20px;
    position: relative;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'PT Serif', serif;
    font-family: 'Dancing Script', 'cursive';
}

h1 {
    margin: 0;
    color: #fff;
}

/* Alignement des éléments à droite */
.header-right {
    display: flex;
    align-items: center;
}

/* Optionnel : espacement entre les éléments */
.button-wrapper {
    margin-left: 10px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #ffffff;
    font-size: 16px;
}

input[type="text"],
input[type="number"],
input[type="submit"],
.button-wrapper button {
    padding: 8px 12px; /* Ajustement de la taille des boutons */
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 12px;
}

input[type="submit"],
.button-wrapper button {
    background-color: #090909;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover,
.button-wrapper button:hover {
    background-color: #1d1d1e;
}


/* Style pour la section recette */
.recette {
    border: none;
    border-radius: 10px;
    background-color: #ffffff;
    padding: 20px;
    margin: 20px 10px;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 300px;
    height: 400px;
    position: relative;
}

.recette h2 {
    color: #333333;
    font-size: 24px;
    margin-bottom: 10px;
}

.recette p {
    color: #666666;
    font-size: 16px;
    margin-bottom: 10px;
}

.recette button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.recette button:hover {
    background-color: #45a049;
}

.content {
    position: absolute;
    bottom: 20px;
    padding: 0 20px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.9); /* Fonds semi-transparent */
}



/* Style pour le footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}


button[type="submit"][name="delete_recette"] {
    padding: 12px 20px; /* Ajustez les valeurs de padding pour augmenter la taille */
    font-size: 18px; /* Augmenter la taille du texte */
}


