/* Reset des marges et paddings */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Style pour le header */
header {
    background-color: #000;
    padding: 20px;
    text-align: center;
    position: relative;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header h1 {
    margin-bottom: 10px;
    color: #fff;
}

/* Style pour la section recette */
.recette {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px 10px;
    display: inline-block;
    width: calc(50% - 40px); /* Pour deux recettes par ligne */
    box-sizing: border-box;
    vertical-align: top;
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: aquamarine;
}

.recette h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.recette p {
    margin-bottom: 15px;
}

.recette img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
}

.recette a {
    text-decoration: none;
    color: #333;
    background-color: #f2f2f2;
    padding: 5px 10px;
    border-radius: 5px;
}

/* Style pour le footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

.bg-video > video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}